.app-container {
    display: flex;
    background-image: url("./images/howls-moving-castle-tiny.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}